<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" verbose="1" configfailurepolicy="continue">
    <test name="MyTestCase">
        <classes>
            <class name="com.syscolab.qe.core.ui.tests.FeeCodeMaintenanceTest"></class>
            <class name="com.syscolab.qe.core.ui.tests.LivePriceGridTest"></class>
            <class name="com.syscolab.qe.core.ui.tests.FuelSurchargeTest"></class>
        </classes>
    </test>
</suite>
